#popup .popup{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    height: 450px;
    overflow-y: auto;

    text-align: left;
}
#popup .popup .popupImg {
    width: 40%;
    margin: 20px;
    border: 2px solid #5b4637;
}
#popup .popup .text{
    width: 30%;
    margin: 20px;
}


/* TABLETS AND MOBILE DEVICES */
@media only screen and (max-device-width: 768px) {
  #popup .popup img{
    width: 90%;
  }
}