/*
This is for the popups content
The css for the popups shell can be found in the popup.vue
*/

#popupWrapper .popup{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
    text-align: left;
}
#popupScroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#popupWrapper .popup .popupImg {
    width: 40%;
    margin: 20px;
    border: 2px solid #5b4637;
}
#popupWrapper .popup .text{
    width: 50%;
    margin: 20px;
}

/* SMALL SCREENS */

/* TABLETS AND MOBILE DEVICES */
@media only screen and (max-width: 868px){
  #popupScroll .popupImg{
    width: 80%  !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  #popupScroll .text{
    width: 90% !important;
    }
}