/*
This is for the popups content
The css for the popups shell can be found in the popup.vue
*/

#popupWrapper .popup{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*height: 100%;*/
    overflow-y: auto;

    text-align: left;
}
#popupWrapper .popup h2 {
    margin: 0;
}
#popupWrapper .popup .popupImg {
    width: 40%;
    margin: 20px;
    border: 2px solid #5b4637;
}
#popupWrapper .popup .text{
    width: 30%;
    margin: 20px;
}


/* TABLETS AND MOBILE DEVICES */
@media only screen and (max-device-width: 768px) {
  #popupWrapper .popup img{
    width: 80%  !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}